@-moz-document domain("google.com") {
    /* Square Google logo */
    /*[[square-logo]]*/

    /* Google Search */
    .RNNXgb { /* Search bar */
        border-radius: /*[[border-radius]]*/;
    }
    .minidiv .RNNXgb { /* Search bar (when scrolling) */
        border-radius: /*[[border-radius]]*/;
    }
    .sbibod { /* Search bar when in category tab */
        border-radius: /*[[border-radius]]*/;
    }
    .aajZCb { /* Autocomplete suggestions */
        border-radius: /*[[border-radius]]*/;
    }
    .minidiv .aajZCb { /* Autocomplete suggestions (when scrolling) */
        border-bottom-left-radius: /*[[border-radius]]*/;
        border-bottom-right-radius: /*[[border-radius]]*/;
    }
    .minidiv .emcav.emcat .RNNXgb, .emcav.emcat .RNNXgb { /* Search bar when an autocomplete word shows */
        border-bottom-left-radius: /*[[border-radius]]*/;
        border-bottom-right-radius: /*[[border-radius]]*/;
    }
    .minidiv .Tg7LZd { /* Search icon in search bar (when scrolling) */
        padding-right: 0;
    }
    .Gj7ine { /* Image search thumbnail in search bar */
        border-radius: /*[[border-radius]]*/;
    }
    .sbct:first-child .suggestions-inner-container { /* Border above an autocomplete word */
        border-top: 0;
    }
    .kp-blk { /* "Knowledge panel" (large right info card) */
        border-radius: /*[[border-radius]]*/;
    }
    .kp-blk .img-brk { /* Knowledge panel images */
        border-top-left-radius: /*[[border-radius]]*/;
        border-top-right-radius: /*[[border-radius]]*/;
    }
    .H73aad { /* "Claim this knowledge panel" button */
        border-radius: /*[[border-radius]]*/;
    }
    .qmv19b { /* Top stories */
        border-radius: /*[[border-radius]]*/;
    }
    div.AEprdc.vk_c { /* Google Maps insert body */
        border-radius: /*[[border-radius]]*/;
    }
    #lu_map { /* Google Maps insert map */
        border-top-left-radius: /*[[border-radius]]*/ !important;
        border-top-right-radius: /*[[border-radius]]*/ !important;
        /* Sorry for !important, unfortunately Google used inline styles here instead of an id selector :/ */;
    }
    .vk_c, .vk_cxp, #rhs .fIcnad { /* Privacy reminder */
        border-radius: /*[[border-radius]]*/;
    }
    .Wrsj9b { /* Sports info card */
        border-top-left-radius: /*[[border-radius]]*/;
        border-top-right-radius: /*[[border-radius]]*/;
    }
    .cF4V5c { /* "More" search categories box */
        border-radius: /*[[border-radius]]*/;
    }
    .RAYh1e{ /* Google Account sign in wrapper */
        border-radius: /*[[border-radius]]*/;
    }
    .A3sRAb { /* Google Account sign in email box */
        border-radius: /*[[border-radius]]*/;
    }
    .nDKKZc.O0WRkf { /* Google Account sign in button */
        border-radius: /*[[border-radius]]*/;
    }
    .GyDlGb { /* Google Account sign in account selector */
        border-radius: /*[[border-radius]]*/;
    }
    
    /* Google Images */
    .zZ86of .Mw2I7 { /* Suggested keywords */
        border-radius: /*[[border-radius]]*/;
    }
    .gymTod.jKR4Ec { /* Suggested keywords thumbnails */
        border-radius: /*[[border-radius]]*/;
    }
    .cv2VAd { /* Small top info cards relevant to search */
        border-radius: /*[[border-radius]]*/;
    }
    .Mw2I7 { /* Small top info cards relevant to search (imageless) */
        border-radius: /*[[border-radius]]*/;
    }
    .lU8dJf { /* Inline image related searches */
        border-radius: /*[[border-radius]]*/;
    }
    
    /* Google News */
    .gAl5If.nID9nc { /* Headline cards */
        border-radius: /*[[border-radius]]*/;
    }
    .NiLAwe { /* Generated headline cards */
        border-radius: /*[[border-radius]]*/;
    }
    .gb_gf { /* Search bar */
        border-radius: /*[[border-radius]]*/;
    }
    .YDRMcc { /* Side info cards */
        border-radius: /*[[border-radius]]*/;
    }
    .d7hoq { /* Article thumbnails */
        border-radius: /*[[border-radius]]*/;
    }
    .MQsxIb.Fm1jeb .AZtY5d { /* Small article thumbnails */
        border-radius: /*[[border-radius]]*/;
    }
    .To2ZZb.hpDt6e { /* Topic suggestions */
        border-radius: /*[[border-radius]]*/;
    }
    .SFllF { /* Navbar selected */
        border-radius: 0 /*[[border-radius]]*/ /*[[border-radius]]*/ 0;
    }
    .ZqhUjb.MDgEWb { /* Top share buttons */
        border-radius: /*[[border-radius]]*/;
    }
    
    /* Google Account */
    .RAYh1e{ /* Sign-in main wrapper */
        border-radius: /*[[border-radius]]*/;
    }
    .A3sRAb { /* Sign-in email box */
        border-radius: /*[[border-radius]]*/;
    }
    .nDKKZc.O0WRkf { /* Sign in button */
        border-radius: /*[[border-radius]]*/;
    }
    .GyDlGb { /* Sign-in account Selector */
        border-radius: /*[[border-radius]]*/;
    }
    .XLK0Od { /* Account settings tile */
        border-radius: /*[[border-radius]]*/;
    }
    .gb_De.gb_la { /* Account settings search */
        border-radius: /*[[border-radius]]*/;
    }
    .EhlvJf { /* Sidebar tabs */
        border-radius: 0 /*[[border-radius]]*/ /*[[border-radius]]*/ 0;
    }
    .hyMrOd { /* 2FA wrapper */
        border-radius: /*[[border-radius]]*/;
    }
    .RZBuIb .sZwd7c { /* Top progress bar corners */
        border-radius: 0 0 0 0;
    }
    
    /* Google Support */
    .page { /* Main page */
        border-radius: /*[[border-radius]]*/;
    }
    .hcfe .promoted-search__input{ /* Community search box */
        border-radius: /*[[border-radius]]*/;
    }
    .material-card{ /* Info cards */
        border-radius: /*[[border-radius]]*/;
    }
    a.appbar-helpcenter-sections__link{ /* Active tab highlight corners */
        border-left: none;
        border-right: none;
    }
    
    /* Google Takeout */
    .KC1dQ{ /* Latest archive wrapper */
        border-radius: /*[[border-radius]]*/;
    }
    .nmfOee.Rj2Mlf{ /* Latest archive download button */
        border-radius: /*[[border-radius]]*/;
    }
    .VfPpkd-LgbsSe{ /* Latest archive "Manage Archives" button */
        border-radius: /*[[border-radius]]*/;
    }
    .g81fxb:first-child{ /* Archive creator top */
        border-top-left-radius: /*[[border-radius]]*/;
        border-top-right-radius: /*[[border-radius]]*/;
    }
    .g81fxb.ROuVee{ /* Archive creator bottom */
        border-radius: /*[[border-radius]]*/;
    }
    .g81fxb:last-child, .g81fxb.ROuVee + .g81fxb{ /* Customise archive format */
        border-radius: /*[[border-radius]]*/;
    }
    .I7OXgf{ /* Content options/formats popup */
        border-radius: /*[[border-radius]]*/;
    }
    .g81fxb:last-child { /* Customize archive format bottom */
        border-bottom-left-radius: /*[[border-radius]]*/;
        border-bottom-right-radius: /*[[border-radius]]*/;
    }
    .JaX6Fb, .g81fxb:last-child{ /* Archive creation placeholder */
        border-radius: /*[[border-radius]]*/;
        border-bottom-left-radius: /*[[border-radius]]*/;
        border-bottom-right-radius: /*[[border-radius]]*/;
    }
    
    /* Google Drive */
    .gb_Be,.gb_Qe { /* Search bar */
        border-radius: /*[[border-radius]]*/;
    }
    .gb_Qe button:hover svg{ /* Search bar arrow dropdown button */
        border-radius: /*[[border-radius]]*/;   
    }
    .gb_Qe button svg{ /* Search bar arrow dropdown button padding fix */
        margin: 3px -1px 3px 3px;
    }
    .gb_Qe.gb_jf{ /* Search bar with dropdown */
        border-radius: /*[[border-radius]]*/ /*[[border-radius]]*/ 0 0;
    }
    .gb_fa { /* G-Suite badge */
        border-radius: /*[[border-radius]]*/;
    }
    .a-D-gc-wKOTTc .a-ec-Gd button.RTMQvb { /* +New button */
        border-radius: /*[[border-radius]]*/;
    }
    .a-dkl3Ye .a-U-J { /* Left sidebar folder buttons */
        border-radius: 0 /*[[border-radius]]*/ /*[[border-radius]]*/ 0;
    }
    .a-dkl3Ye .L202Xe, .a-dkl3Ye .Onyn4c { /* Quick Access files */
        border-radius: /*[[border-radius]]*/;
    }
    .a-dkl3Ye .a-w { /* Context menu */
        border-radius: /*[[border-radius]]*/;
    }
    .a-dkl3Ye .o-Yc-o-T:hover{ /* Breadcrumbs */
        border-radius: /*[[border-radius]]*/;
    }
    .a-dkl3Ye .a-l-S-Pc-w-d.h-R-w-d-W, .a-dkl3Ye .a-l-S-Pc-w-d.h-R-w-d-pb{ /* Focused breadcrumb */
        border-radius: /*[[border-radius]]*/;
    }
    .a-b-Tb-j { /* Preview error */
        border-radius: /*[[border-radius]]*/;
    }
    .a-nEbBXb .a-c-d { /* Right breadcrumb bar buttons */
        border-radius: /*[[border-radius]]*/;
    }
    .Ewn2Sd:not(.C0fwCb):hover{ /* Top bar support button */
        border-radius: /*[[border-radius]]*/;
    }
    .gb_y:hover{ /* Google Apps button */
        border-radius: /*[[border-radius]]*/;
    }
    .Kk7lMc-QWPxkf-d .Yb-Il-d-c-Nd{ /* Lower-right sidebar toggle button */
        border-radius: /*[[border-radius]]*/;
    }
    
    /* Google Keep */
    .gb_ga { /* GSuite badge */
        border-radius: /*[[border-radius]]*/;
    }
    .IZ65Hb-n0tgWb{ /* "Take a note..." box */
        border-radius: /*[[border-radius]]*/;
    }
    .IZ65Hb-TBnied{ /* "Take a note..." box (inner) */
        border-radius: /*[[border-radius]]*/;
    }
    .aSVJYc-G0jgYd-ZMv3u{ /* Search bar */
        border-radius: /*[[border-radius]]*/;
    }
    .XKSfm-L9AdLc .IZ65Hb-n0tgWb .Ng57nc{ /* Note preview inner top */
        border-radius: /*[[border-radius]]*/ /*[[border-radius]]*/ 0 0;
    }
    .XKSfm-L9AdLc .IZ65Hb-n0tgWb .Ng57nc + .IZ65Hb-TBnied{ /* Note preview inner bottom */
        border-radius: 0 0 /*[[border-radius]]*/ /*[[border-radius]]*/;
    }
    .Q0hgme-fmcmS-LgbsSe{ /* Note preview close button */
        border-radius: /*[[border-radius]]*/;
    }
    li.xl07Ob-ibnC6b{ /* Sidebar buttons */
        border-radius: 0 /*[[border-radius]]*/ /*[[border-radius]]*/ 0;
    }
    .IVT3Ae-WsjYwc-UMrnmb{ /* Dark mode box */
        border-radius: /*[[border-radius]]*/;
    }
}
